<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Use a annotation
    <context:annotation-config/>
    <context:component-scan base-package="net.homenet"/>
    -->

    <bean id="productDao" class="net.homenet.ProductDaoImpl"/>
    <bean id="productService" class="net.homenet.ProductServiceImpl">
        <property name="productDao" ref="productDao"/>
    </bean>
</beans>
